.footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.fa-github {
  transition: all 0.5s ease-in-out;
}

.fa-github:hover {
  transform: rotateZ(360deg);
}

a {
  text-decoration: none;
}