.game-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-wrapper h2 {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

.board {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 20rem;
  height: 20rem;
  background-color: #edf2f4;
  border: black solid 1px;
  box-sizing: border-box;
  font-size: 10rem;
  text-align: center;
  line-height: 20rem;
  cursor: context-menu;
}

.board div:hover {
  background-color: #e5e5e5;
}

.room {
  text-align: center;
}

.room div {
  margin: 5rem;
  position: relative;
}

.room input {
  padding: 1rem;
  margin-right: 2rem;
}

.room label::before {
  content: "Room ID";
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.room input:not(:placeholder-shown) + label::before{
  opacity: 1;
  top: -2rem;
}

p {
  font-size: 3rem;
  text-align: center;
}

div .disabled {
  pointer-events: none;
  opacity: 0.5;
}

.after-game-btn button {
  width: 15rem;
  margin: 3rem;
  display: block;
  font-size: 2rem
}

.rematch-btn button {
  position: absolute;
  font-size: 1.5rem;
}

.accept-btn {
  top: 5rem;
  left: 40rem;
}

.reject-btn {
  top: 5rem;
  left: 83rem;
}
