.game-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room input {
  border: black 1px solid;
  padding: 1rem;
}

.board-wrapper h2 {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

.board {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 20rem;
  height: 20rem;
  background-color: #edf2f4;
  border: black solid 1px;
  box-sizing: border-box;
  font-size: 10rem;
  text-align: center;
  line-height: 20rem;
  cursor: context-menu;
}

.board div:hover {
  background-color: #e5e5e5;
}

.logout {
  background-color: #bde0fe;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logout:active {
  background-color: #a2d2ff;
}

.room {
  text-align: center;
}

.room div {
  margin-top: 5rem;
}

.room input {
  margin-right: 2rem;
}

p {
  font-size: 3rem;
  text-align: center;
}

div .disabled {
  pointer-events: none;
  opacity: 0.5;
}

.after-game-btn button {
  width: 15rem;
  display: block;
  margin: 3rem;
  background-color: #fefae0;
}

.after-game-btn button:active {
  background-color: #faedcd;
}

.rematch-btn button {
  position: absolute;
  background-color: #fefae0;
}

.rematch-btn button:active {
  background-color: #faedcd;
}

.accept-btn {
  top: 5rem;
  left: 45rem;
}

.reject-btn {
  top: 5rem;
  left: 80rem;
}
