h1 {
  font-size: 5rem;
  text-align: center;
}

.login p, .signup p {
  font-size: 1.5rem;
  color: #f08080;
}

.signup {
  border: black solid 1px;
  width: 30rem;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #eaf4f4;
}

.login {
  border: black solid 1px;
  width: 30rem;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #eaf4f4;
}

.field {
  position: relative;
}

.field label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
  opacity:0;
  cursor: text;
  transition: all 0.3s ease-in-out;
}

.field input {
  outline: none;
  border: none;
  border-bottom: black solid 1px;
  font-size: 2rem;
  background-color: #eaf4f4;
}

.field input:not(:placeholder-shown) + label {
  opacity: 1;
  top: -2rem;
}