:root {
  font-size: 62.5%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bde0fe;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

p {
  font-size: 1.5rem;
  color: #f08080;
}

.signup {
  border: black solid 1px;
  width: 30rem;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #eaf4f4;
}

.login {
  border: black solid 1px;
  width: 30rem;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #eaf4f4;
}

.field {
  position: relative;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  opacity:0;
  cursor: text;
  transition: all 0.3s ease;
}

input {
  outline: none;
  border: none;
  border-bottom: black solid 1px;
  font-size: 2rem;
  background-color: #eaf4f4;
}

input:not(:placeholder-shown) + label {
  opacity: 1;
  top: -2rem;
}

button {
  background-color: #bde0fe;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem
}

button:active {
  background-color: #a2d2ff
}